<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA - Inciar Sesión</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Administración</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:ventas' %}">Ventas</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:reportes' %}">Reportes</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                    </div>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        {% if user.is_authenticated %}
            <h3>Sesión ya Iniciada.</h3>
            <br>
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'logout' %}'">Cerrar Sesión</button>
        {% else %}
            <h3>Iniciar Sesión:</h3>
            <br>
            <h5>Portal de Aministración para empleados MundoFastSPA</h5>
            <br>
            {% if error_message %}
            {% endif %}
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col">   
                        Correo Electrónico:
                        <input type="email" class="form-control" name="username" id="username" placeholder="Correo Electrónico" required >
                        <br>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">   
                        Contraseña:
                        <input type="password" class="form-control" name="password" id="inputPass" placeholder="Contraseña" required>
                        <br>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                <button type="button" id="submitButton" class="btn btn-warning" onclick="location.href='javascript:history.go(-1)'">Volver</button>
                <br>
            </form>
        {% endif %}
    </div>
</body>
</html>