<h1>Crear Nuevo Producto:</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'MundoFastWebApp:crearproducto' %}" method="post">
{% csrf_token %}
    <label for="codigoProducto">Codigo Producto:</label>
    <input type="number" name="codigoProducto" id="codigoProducto" required><br>
    <label for="nombreProducto">Nombre Producto:</label>
    <input type="text" name="nombreProducto" id="nombreProducto" required><br>
    <label for="descripcionProducto">Descripcion Producto:</label>
    <input type="textarea" name="descripcionProducto" id="descripcionProducto" rows="10" cols="30" required><br>
    <label for="categoriaProducto">Categoria Producto:</label>
    <select name="categoriaProducto" id="categoriaProducto">
        {% for choice,readablechoice in producto.opcionesCategoria %}
            <option value="{{ choice }}">{{ readablechoice }}</option>       
        {% endfor %}
    </select><br>
    <label for="precioProducto">Precio Producto:</label>
    <input type="number" name="precioProducto" id="precioProducto" required><br>
    <label for="cantidadProducto">Cantidad Producto:</label>
    <input type="number" name="cantidadProducto" id="cantidadProducto" required><br>
    <label for="ofertaProducto">Oferta Producto:</label>
    <select name="ofertaDropDown">
        <option value="False" selected>No</option>
        <option value="True">Si</option>
    </select><br>
    <label for="descuentoProducto">Descuento Producto:</label>
    <input type="number" name="descuentoProducto" id="descuentoProducto" min=0 max=100 required><br>
<input type="submit" value="Crear Producto">
</form>

<footer>
    <p><a href="{% url 'MundoFastWebApp:productos' %}">Volver</a></p>
</footer>