<head>
    <title>MundoFastSPA - Crear Nuevo Producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <h3>Crear Nuevo Producto:</h3>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'MundoFastWebApp:crearproducto' %}" method="post">
            {% csrf_token %}
            <label for="codigoProducto"><b>Código Producto:</b></label>
            <input type="number" name="codigoProducto" id="codigoProducto" required><br>
            <label for="nombreProducto"><b>Nombre Producto:</b></label>
            <input type="text" name="nombreProducto" id="nombreProducto" required><br>
            <label for="descripcionProducto"><b>Descripción Producto:</b></label>
            <input type="textarea" name="descripcionProducto" id="descripcionProducto" rows="10" cols="30" required><br>
            <label for="categoriaProducto"><b>Categoria Producto:</b></label>
            <select name="categoriaProducto" id="categoriaProducto">
                {% for choice,readablechoice in producto.opcionesCategoria %}
                <option value="{{ choice }}">{{ readablechoice }}</option>       
                {% endfor %}
            </select><br>
            <label for="precioProducto"><b>Precio Producto:</b></label>
            <input type="number" name="precioProducto" id="precioProducto" required><br>
            <label for="cantidadProducto"><b>Cantidad Producto:</b></label>
            <input type="number" name="cantidadProducto" id="cantidadProducto" required><br>
            <label for="ofertaProducto"><b>Oferta Producto:</label>
            <select name="ofertaDropDown">
                <option value="False" selected>No</option>
                <option value="True">Si</option>
            </select><br>
            <label for="descuentoProducto"><b>Descuento Producto:</b></label>
            <input type="number" name="descuentoProducto" id="descuentoProducto" min=0 max=100 required><br>
            <input type="submit" class="btn btn-success" value="Crear Producto">
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'MundoFastWebApp:productos' %}'">Cancelar</button>
        </form>
    </div>
</body>