<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA - Crear Nuevo Producto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/MundoFastWebApp/css/styles.css' %}">
    <script>
        $(document).on('click', '#close-preview', function(){ 
            $('.image-preview').popover('hide');
            // Hover befor close the preview
        });
         $(function() {
             $('.image-preview').hover(
                function () {
                $('.image-preview').popover('show');
                }, 
                function () {
                $('.image-preview').popover('hide');
                }
            );
         }); 
        $(function() {
            // Create the close button
            var closebtn = $('<button/>', {
                type:"button",
                text: 'x',
                id: 'close-preview',
                style: 'font-size: initial;',
            });
            closebtn.attr("class","close pull-right");
            // Set the popover default content
            $('.image-preview').popover({
                trigger:'manual',
                html:true,
                title: "<strong>Vista Previa</strong>",
                content: "Seleccione una imagen.",
                placement:'bottom'
            });
            // Clear event
            $('.image-preview-clear').click(function(){
                $('.image-preview').attr("data-content","").popover('hide');
                $('.image-preview-filename').val("");
                $('.image-preview-clear').hide();
                $('.image-preview-input input:file').val("");
                $(".image-preview-input-title").text("Browse"); 
            }); 
            // Create the preview image
            $(".image-preview-input input:file").change(function (){     
                var img = $("<img class='img-thumbnail'/>", {
                    id: 'dynamic',
                    width:250,
                    height:200
                });      
                var file = this.files[0];
                var reader = new FileReader();
                // Set preview image into the popover data-content
                reader.onload = function (e) {
                    $(".image-preview-input-title").text("Cambiar");
                    $(".image-preview-clear").show();
                    $(".image-preview-filename").val(file.name);            
                    img.attr('src', e.target.result);
                    $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
                }        
                reader.readAsDataURL(file);
            });  
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Administración</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:productos' %}"><b>Productos</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:ventas' %}">Ventas</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:reportes' %}">Reportes</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                    </div>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        <h3>Crear Nuevo Producto:</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}    
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'MundoFastWebApp:crearproducto' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="codigoProducto"><b>Código Producto:</b></label>
                        <input class="form-control" type="number" name="codigoProducto" id="codigoProducto" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="nombreProducto"><b>Nombre Producto:</b></label>
                        <input class="form-control" type="text" name="nombreProducto" id="nombreProducto" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcionProducto"><b>Descripción Producto:</b></label>
                <textarea class="form-control" type="text" name="descripcionProducto" id="descripcionProducto" rows="10" cols="30" required></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="imagenProducto"><b>Imagen Producto:</b></label>
                        <div class="input-group image-preview">
                            <input type="text" class="form-control image-preview-filename"  disabled="disabled">
                            <span class="input-group-btn">
                                <div class="btn btn-default image-preview-input">
                                    <i class="fa fa-folder-open-o"></i>
                                    <span class="image-preview-input-title">Examinar</span>
                                    <input type="file" accept="image/png, image/jpeg, image/gif" name="imagenProducto" id="imagenProducto"/>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="categoriaProducto"><b>Categoría Producto:</b></label>
                        <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                            {% for choice,readablechoice in producto.opcionesCategoria %}
                            <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="cantidadProducto"><b>Cantidad Producto:</b></label>
                        <input class="form-control" type="number" name="cantidadProducto" id="cantidadProducto" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="precioProducto"><b>Precio Producto:</b></label>
                        <input class="form-control" type="number" name="precioProducto" id="precioProducto" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="ofertaProducto"><b>Oferta Producto:</label>
                        <select class="form-control" name="ofertaDropDown">
                            {% if producto.ofertaProducto %}
                                <option value="{{ producto.ofertaProducto }}" selected>Si</option>
                                <option value="False">No</option>
                            {% else %}
                                <option value="{{ producto.ofertaProducto }}" selected>No</option>
                                <option value="True">Si</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col">
                     <div class="form-group">
                        <label for="descuentoProducto"><b>Descuento Producto (%):</b></label>
                        <input class="form-control" type="number" name="descuentoProducto" id="descuentoProducto" value="{{producto.descuentoProducto}}" min=0 max=100 required>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="productoDestacado"><b>Producto Destacado:</label>
                    <select class="form-control" name="productoDestacado">
                        {% if producto.productoDestacado %}
                            <option value="{{ producto.productoDestacado }}" selected>Si</option>
                            <option value="False">No</option>
                        {% else %}
                            <option value="{{ producto.productoDestacado }}" selected>No</option>
                            <option value="True">Si</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Crear Producto">
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'MundoFastWebApp:productos' %}'">Cancelar</button>
        </form>
    </div>
</body>
</html>