<h1>Productos:</h1>
{% if listaProducto %}
    <ul>
    {% for producto in listaProducto %}
        <li><a href="{% url 'MundoFastWebApp:verproducto' producto.id%}">{{ producto.nombreProducto }}</a>
            <a href="{% url 'MundoFastWebApp:modificarproducto' producto.id %}"> |modificar|</a>
            <a href="{% url 'MundoFastWebApp:eliminarproducto' producto.id %}"> |eliminar|</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No existen productos almacenados.</p>
{% endif %}

<p><a href="{% url 'MundoFastWebApp:ofertaproducto' %}">Mostrar Ofertas</a></p>
<p><a href="{% url 'MundoFastWebApp:formproducto' %}">Crear Nuevo Producto</a></p>

<footer>
    <p><a href="{% url 'MundoFastWebApp:index' %}">Volver</a></p>
</footer>