<head>
    <title>MundoFastSPA - Crear Nuevo Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <h3>Crear Nuevo Usuario:</h3>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'MundoFastWebApp:crearUsuario' %}" method="post">
            {% csrf_token %}
            <label for="rutUsuario"><b>RUT:</b></label>
            <input type="text" name="rutUsuario" id="rutUsuario" required><br>
            <label for="nombreUsuario"><b>Nombre:</b></label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" required><br>
            <label for="emailUsuario"><b>Correo Electrónico:</b></label>
            <input type="email" name="emailUsuario" required><br>
            <label for="imagenUsuario"><b>Imagen:</b></label>
            <input type="text" name="imagenUsuario" id="imagenUsuario" required><br>
            <label for="rolUsuario"><b>Rol:</b></label>
            <input type="text" name="rolUsuario" id="rolUsuario" required><br>
            <label for="passwordUsuario"><b>Contraseña:</b></label>
            <input type="password" name="passwordUsuario" id="passwordUsuario" required><br><br>
            <input type="submit" class="btn btn-success" value="Crear Usuario">
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'MundoFastWebApp:usuarios' %}'">Cancelar</button>
        </form> 
    </div>
</body>
