<head>
    <title>MundoFastSPA - Usuarios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}"><b>Mundo Fast SPA</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                {% block content %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                           <a class="nav-link active" href="{% url 'MundoFastWebApp:usuarios' %}"> Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'MundoFastWebApp:ventas' %}">Ventas</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                       </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>  
    </nav>
    <br>
    <div class="container">
        <h3>Lista de Usuarios:</h3>
        <br>
        <form action="{% url 'MundoFastWebApp:buscarUsuario' %}" method="post">
            <button type="button" class="btn btn-success" onclick="location.href='{% url 'MundoFastWebApp:formUsuario' %}'">
                <i class="fa fa-user-plus"></i>Nuevo Usuario
            </button>
            {% csrf_token %}
            <label for="buscarUsuario"></label>
            <input type="text" name="buscarUsuario" id="buscarUsuario">
            <input type="submit" value="Buscar Producto">
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Usuario</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% if listaUsuario %}
                    {% for usuario in listaUsuario %}
                        <tr>
                            <td>
                                <a href="/MundoFastWebApp/usuarios/{{ usuario.id }}/">{{ usuario.nombreUsuario }}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="location.href='/MundoFastWebApp/usuarios/{{ usuario.id }}/'">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="location.href='/MundoFastWebApp/usuarios/modificarUsuario/{{ usuario.id }}/'">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </td>
                            <td>
                                {% if user.id != usuario.id %}
                                    <button type="button" class="btn btn-danger" onclick="location.href='/MundoFastWebApp/usuarios/eliminarUsuario/{{ usuario.id }}/'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <td>
                            {% if 'buscar' in request.path %} No existen usuarios registrados con ese nombre. {% else %} No existen usuarios registrados. {% endif %}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>                    
                    {% endif %}
            </tbody>
        </table>
        <br>
        {% if 'buscar' in request.path %}
            <form>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'MundoFastWebApp:usuarios' %}'">Volver</button>
            </form>
        {% endif %}
    </div>
    <div class="footer">
        <p><a href="{% url 'MundoFastWebApp:index' %}">Volver</a></p>
    </div>
</body>