<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA - Reporte Personalizado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">
    <script>
        $(document).ready(function(){
            var totalFinalizadas = 0;
            var contFinalizadas = 0;
            var totalEnProceso = 0;
            var contEnProceso = 0;
            var lista = [];
            var fechaInicio = "{{fechaInicio}}";
            var fechaTermino = "{{fechaTermino}}"

            $("#detalles").hide();

            {% for venta in listaVenta %}
                var ventaAux = {totalVentaAux:"{{venta.totalVenta}}", estadoVentaAux:"{{venta.estadoVenta}}"};
                lista.push(ventaAux);
            {% endfor %}

            for(i=0;i<lista.length;i++){
                if(lista[i].estadoVentaAux == "Finalizada"){
                    totalFinalizadas += +(lista[i].totalVentaAux);
                    contFinalizadas++;
                }else{
                    totalEnProceso += +(lista[i].totalVentaAux);
                    contEnProceso++;
                }
            }
            $('#titulo').after("<br><div id='reportePersonalizadoDiv'><span><b>Desde</b>: "+ fechaInicio + " <b>Hasta</b>: "+ fechaTermino +"</span><br>" + "<span><b>Ventas En Proceso:</b> "+ contEnProceso +"</span><br><span><b>Total Ventas En Proceso:</b> "+ totalEnProceso + "<br><b>Ventas Finalizadas:</b> "+ contFinalizadas +"</span><br><span><b>Total Ventas Finalizadas:</b> "+ totalFinalizadas +"</span><br>" +"</div>");

            $('#btnDetalles').click(function(){
                $('#detalles').toggle();
            });
            $('#btnImprimir').click(function(){
                window.print();
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:ventas' %}">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'MundoFastWebApp:reportes' %}">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h3 id="titulo">Reporte Personalizado</h3>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline">
                    <br>
                    <button type="button" id="btnDetalles" class="btn btn-info">Mostrar Detalles</button>
                    <button type="button" id="btnImprimir" class="btn btn-primary">Imprimir</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'MundoFastWebApp:reportes' %}'">Volver</button>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-striped" id="detalles">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Fecha</th>
                    <th style="text-align: center;">Estado</th>
                    <th style="text-align: center;">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in listaVenta %}
                    <tr>
                        <td><a href="/MundoFastWebApp/ventas/{{ venta.id }}/">{{venta.folioVenta}}</a></td>
                        <td>{{venta.fechaVenta.date}}</td>
                        <td style="text-align: center;">
                            <label>{% if venta.estadoVenta == "Finalizada" %}
                                <font color="green">{{ venta.estadoVenta }}</font>
                                {% else %}
                                <font color="red">{{ venta.estadoVenta }}</font>
                                </b>
                                {% endif %}
                            </label>
                        </td>
                        <td style="text-align: center;">{{venta.totalVenta}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
</body>
</html>