<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA - Reportes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">
    <script>
        $(document).ready(function(){
            var fechaInicioStr;
            $('#lblErrorFechas').css("color", 'red');
            $('#lblErrorFechas').hide();

            $('#fechaInicio, #fechaTermino').blur(function(){
                if($('#fechaInicio').val() != "" && $('#fechaTermino').val() != ""){
                    if($('#fechaInicio').val() > $('#fechaTermino').val()){
                    $('#fechaInicio').css("border","1px solid red");
                    $('#fechaTermino').css("border","1px solid red");
                    $('#lblErrorFechas').show();
                    }else{
                        $('#lblErrorFechas').hide();
                        $('#fechaInicio').css("border","");
                        $('#fechaTermino').css("border","");
                    }
                }
            });
            $('#formReportePersonalizado').submit(function(e){
                if($('#fechaInicio').val() != "" && $('#fechaTermino').val() != ""){
                    if($('#fechaInicio').val() > $('#fechaTermino').val()){
                        e.preventDefault();
                        $('#fechaInicio').css("border","1px solid red");
                        $('#fechaTermino').css("border","1px solid red");
                        $('#lblErrorFechas').show();
                    }else{
                        $('#lblErrorFechas').hide();
                        $('#fechaInicio').css("border","");
                        $('#fechaTermino').css("border","");
                        location.href='{% url 'MundoFastWebApp:reportePersonalizado' %}';
                    }
                }else{
                    e.preventDefault();
                    $('#fechaInicio').css("border","1px solid red");
                    $('#fechaTermino').css("border","1px solid red");
                    $('#lblErrorFechas').show();
                }
            });

        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Administración</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:ventas' %}">Ventas</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:reportes' %}"><b>Reportes</b></a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                    </div>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <br>
        <h3>Generar Reportes</h3>
        <br>
        Seleccione una opción:
        <br>
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'MundoFastWebApp:reporteDiario' %}'">Reporte Diario</button><br>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'MundoFastWebApp:reporteMensual' %}'">Reporte Mensual</button><br>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'MundoFastWebApp:reporteAnual' %}'">Reporte Anual</button><br>
                </div>
                <div class="col">
                </div>
                <div class="col">   
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        <form id="formReportePersonalizado"action="{% url 'MundoFastWebApp:reportePersonalizado' %}" method="post">
            {% csrf_token %} 
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-block">Reporte Personalizado</button>
                    </div>
                    Fecha Inicio: 
                    <div class="col">
                        <input type="date" id="fechaInicio" class="form-control" name="fechaInicio"> 
                    </div>
                    Fecha Término: 
                    <div class="col">   
                        <input type="date" id="fechaTermino" name="fechaTermino" class="form-control">
                        <label id="lblErrorFechas" text-color="red">Fechas inválidas</label>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </form>
        <br>
        <br>       
    </div>
    <br>
    <br>
</body>
</html>