<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static '/MundoFastWebApp/css/catalogo.css' %}">
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Administración</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:ventas' %}">Ventas</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:reportes' %}">Reportes</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                    </div>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2><font font-weight=900 color="#01265E">D E S T A C A D O S</font></h2>
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                {% for producto in listaProducto  %}
                    {% if forloop.counter0 < 2 %}
                        {% if forloop.counter0 == 0 %}
                            <li data-target="#multi-item-example" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#multi-item-example" data-slide-to="{{ forloop.counter0 }}"></li>
                        {% endif %}  
                    {% endif %}
                {% endfor %}
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                {% for producto in listaProducto %}
                    {% if forloop.counter0|divisibleby:"3" %}
                        
                        {% if forloop.counter0 == 0 %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                            <div class="row">
                            <div class="col col-md-3 product-grid text-center">
                                    <a href="/MundoFastWebApp/catalogo/{{ producto.id }}/">
                                    <div class="image">
                                        <img src='{{ producto.imagenProducto.url }}' class="img-thumbnail" width="200px" heigth="200px">
                                    </div>
                                    <hr>
                                    </a>
                                    <h4><a href="/MundoFastWebApp/catalogo/{{ producto.id }}/">{{ producto.nombreProducto }}</a></h4>
                                    <h5>${{ producto.precioProducto }}</h5>
                            </div>
                    {% else %}
                        <div class="col col-md-3 product-grid text-center">
                            <a href="/MundoFastWebApp/catalogo/{{ producto.id }}/">
                            <div class="image">
                                <img src='{{ producto.imagenProducto.url }}' width="200px" heigth="200px">
                            </div>
                            <hr>
                            </a>
                            <h4><a href="/MundoFastWebApp/catalogo/{{ producto.id }}/">{{ producto.nombreProducto }}</a></h4>
                            <h5>${{ producto.precioProducto }}</h5>
                        </div>
                    {% endif %} 
                
                    {% if forloop.counter0 == 0 and forloop.counter0 == 2 and forloop.counter0 == 5 and forloop.counter0 == 8 %}
                        </div>
                    {% endif %}
                {% endfor %}
                <!--/.First slide-->
            </div>
            <!--/.Slides-->
            
        </div>
        
        <!--/.Carousel Wrapper-->
    </div>
</body>
</html>