<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA - Crear Nueva Venta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">
    <script>
        $(document).ready(function(){
            function total() {
                var subTotal = 0;
                
                $( ".precioProductoVenta" ).each(function() {
                    subTotal += +($(this).text());
                });
                $("#subTotal").val(subTotal);

                var total = $("#subTotal").val() - (($("#descuentoAdicionalVenta").val() * $("#subTotal").val()) /100);
                $("#totalVenta").val(total);
            }

            function calcularCarro(){
                var j=0;
                $('.codigoProductoVenta').each(function(){
                    var i;
                    for(i=0;i<lista.length;i++){
                        if($(this).val() == lista[i].codigoPAux){
                            var precio = lista[i].precioPAux * parseInt($('.cantidadProductoVenta').eq(j).val());
                            $('.precioProductoData').eq(j).val(precio);
                            total();
                        }
                    }
                    j++;
                });
            }
            var lista = [];
            var contProductosVenta = 0;
            var prefixPrecio = '#precioProductoVenta';
            var prefixCodigo = '#codigoProductoVenta';
            var randomFolio = Math.floor(100000 + Math.random() * 900000);
            $("#errorProductoNoExiste").hide();
            $("#tablaProductos").hide();
            $("#contProductosVenta").hide();
            $("#mensajeError").hide();
            {% for producto in listaProducto %}
                var productoAux = {codigoPAux:"{{producto.codigoProducto}}", nombrePAux:"{{producto.nombreProducto}}", precioPAux:"{{producto.precioProducto}}", descuentoPAux:"{{producto.descuentoProducto}}"};
                lista.push(productoAux);
            {% endfor %}
            {% for venta in listaVenta %}
                if(randomFolio == "{{venta.folioVenta}}"){
                    randomFolio = Math.floor(100000 + Math.random() * 900000);
                }
            {% endfor %}
            $("#folioVenta").val(randomFolio);
            $("#botonBuscar").click(function(){
                var i;
                var encontroProducto = false; //variable para determinar si encontro producto en la busqueda
                for(i=0;i<lista.length;i++){
                    var existeProducto = false;
                    if($("#productosVentaSearchBox").val().toLowerCase() == lista[i].nombrePAux.toLowerCase() || $("#productosVentaSearchBox").val() == lista[i].codigoPAux){
                        var j=0;
                        $('#tablaProductos').show();
                        $(".codigoProductoVenta").each(function(){
                            if($(this).val() == $("#productosVentaSearchBox").val() || $(".nombreProductoVenta").eq(j).text().toLowerCase() == lista[i].nombrePAux.toLowerCase()){
                                existeProducto = true;
                                encontroProducto = true;
                                var cantidadAux = parseInt($('.cantidadProductoVenta').eq(j).val()) + 1;
                                $('.cantidadProductoVenta').eq(j).val(cantidadAux);
                            }
                            j++;
                        });
                        if(!existeProducto){
                            $("#tableBody").append("<tr><td><input type='number' class='codigoProductoVenta' style='width:80px' value='"+ lista[i].codigoPAux +"'readonly/></td><td class='nombreProductoVenta'>"+lista[i].nombrePAux+"</td>"+
                            "<td><input type='number' name='cantidadProductoVenta"+contProductosVenta+"' class='cantidadProductoVenta' value=1 min=1 style='width:80px'/></td><td class='precioProductoVenta'>"+lista[i].precioPAux +"</td><td><button type='button' class='btn btn-danger' id='eliminarFila'>Eliminar</button></td></tr>");
                            contProductosVenta++;
                            $("#contProductosVenta").val(contProductosVenta);
                            encontroProducto = true; //como encontró producto se cambia su valor a true
                            $("#errorProductoNoExiste").hide();
                            $("#tablaProductos").show();
                            $("#tableBody").show();
                            $("#mensajeError").hide();
                        }
                    }
                    if(!encontroProducto && (i+1)==lista.length){
                        $("#errorProductoNoExiste").show();
                    }
                }
                $("#form").on("click",function() {
                    var j=0;
                    $('.codigoProductoVenta').each(function(){
                        var i;
                        for(i=0;i<lista.length;i++){
                            if($(this).val() == lista[i].codigoPAux){
                                var precio = parseInt(lista[i].precioPAux) * parseInt($('.cantidadProductoVenta').eq(j).val());
                                $('.precioProductoVenta').eq(j).text(precio);
                                total();
                            }
                        }
                        j++;
                    });
                });
                
                $("#descuentoAdicionalVenta").on("change keyup",function(){
                    var total = $("#subTotal").val() - ($(this).val() * $("#subTotal").val()) /100;
                    $("#totalVenta").val(total);
                });
                
                $("#eliminarFila").unbind().click(function(){
                    
                    if(contProductosVenta == 1){
                        $("#tableBody").hide();
                        $(this).closest('tr').remove();
                        contProductosVenta--;
                    }
                    else{
                        $(this).closest('tr').remove();
                        contProductosVenta--;
                    }
                    total();
                    $("#contProductosVenta").val(contProductosVenta);
                });
            });
            $("#form").submit(function(e){
                if(contProductosVenta == 0){
                    e.preventDefault();
                    $("#mensajeError").show();
                }
                else{
                    var i=0;
                    $('.codigoProductoVenta').each(function(){
                        $(this).attr('name','codigoProductoVenta'+i);
                        $('.cantidadProductoVenta').eq(i).attr('name','cantidadProductoVenta'+i);
                        i++;
                    });
                }
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Administración</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:ventas' %}"><b>Ventas</b></a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:reportes' %}">Reportes</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                    </div>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        <h3>Crear Nueva Venta:</h3>
        <br>
        <div class="alert alert-danger" role="alert" id="mensajeError">
            <label for="mensajeError">Debe agregar al menos un producto a la venta</label>
        </div>
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}    
        <form action="{% url 'MundoFastWebApp:crearVenta' %}" method="post" id="form">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col">   
                        <label for="folioVenta"><b>Folio Venta:</b></label>
                        <input type="number" class="form-control" name="folioVenta" id="folioVenta" readonly required>
                    </div>
                    <div class="col">
                    </div>   
                </div>
            </div>
            <div class="form-group">
                <label for="productosVenta"><b>Productos:</b></label>
                <div class="row">
                    <div class="col">   
                        <input type="text" class="form-control" name="productosVentaSearchBox" id="productosVentaSearchBox" placeholder="Código o Nombre del Producto">
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success" id="botonBuscar"><i class=" 	fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" id="errorProductoNoExiste">
                <div class="col">   
                        <div class="alert alert-danger" role="alert" >
                        <label for="errorProductoNoExiste">Ese producto no existe.</label><br>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <table id="tablaProductos" class="table table-striped" style="width:70%">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
            <div class="form-group">
                <div class="row">
                    <div class="col">   
                        <label for="cuotasVenta"><b>Cuotas Venta:</b></label>
                        <select name="cuotasVenta" class="form-control" id="cuotasVenta">
                            <option value="1">1 Cuota</option>
                            <option value="2">2 Cuotas</option>
                            <option value="3">3 Cuotas</option>          
                        </select>
                    </div>
                    <div class="col"></div>   
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">   
                        <label for="subTotal"><b>Sub Total:</b></label>
                        <input type="number" class="form-control" name="subTotal" id="subTotal" min=1 readonly required>
                    </div>
                    <div class="col">
                        <label for="descuentoAdicionalVenta"><b>Descuento Venta (%):</b></label>
                        <input type="number" class="form-control" name="descuentoAdicionalVenta" id="descuentoAdicionalVenta" value=0 min=0 max=100 required>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">   
                        <label for="totalVenta"><b>Total Venta:</b></label>
                        <input type="number" class="form-control" name="totalVenta" id="totalVenta" min=1 readonly required>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <div class="row">
                    <div class="col">   
                        <label for="estadoVenta"><b>Estado Venta:</b></label>
                        <select class="form-control" name="estadoVenta" id="estadoVenta">
                            <option value="En Proceso">En Proceso</option>
                            <option value="Finalizada">Finalizada</option>         
                        </select> 
                    </div>
                    <div class="col">
                        <label for="responsableVenta"><b>Responsable Venta:</b></label>
                        <select class="form-control" name="responsableVenta" id="responsableVenta">
                            {% for usuario in listaUsuario %}
                                <option selected={{user.emailUsuario}} value="{{ usuario.emailUsuario }}">{{usuario.emailUsuario}}</option>       
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <input type="text" id="contProductosVenta" name="contProductosVenta">
            <input type="submit" class="btn btn-success" value="Crear Venta">
            <button type="button" id="submitButton" class="btn btn-danger" onclick="location.href='{% url 'MundoFastWebApp:ventas' %}'">Cancelar</button>
        </form>
    </div>
    <br>
    <br>
</body>
</html>