<head>
    <title>MundoFastSPA - Modificar Venta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script>
        $(document).ready(function(){

            function total() {
                var subTotal = 0;
                
                $( ".precioProductoVenta" ).each(function() {
                    subTotal += +($(this).text());
                });
                $("#subTotal").val(subTotal);

                var total = $("#subTotal").val() - (($("#descuentoAdicionalVenta").val() * $("#subTotal").val()) /100);
                $("#totalVenta").val(total);
            }

            function calcularCarro(){
                var j=0;
                $('.codigoProductoVenta').each(function(){
                    var i;
                    for(i=0;i<lista.length;i++){
                        if($(this).val() == lista[i].codigoPAux){
                            var precio = lista[i].precioPAux * parseInt($('.cantidadProductoVenta').eq(j).val());
                            $('.precioProductoData').eq(j).val(precio);
                            total();
                        }
                    }
                    j++;
                });
            }

            var lista = [];
            var contProductosVenta = 0;
            var prefixPrecio = '#precioProductoVenta';
            var prefixCodigo = '#codigoProductoVenta';
            var randomFolio = Math.floor(100000 + Math.random() * 900000);
            $("#errorProductoNoExiste").hide();
            $("#contProductosVenta").hide();
            $("#mensajeError").hide();
            {% for producto in listaProducto %}
                var productoAux = {codigoPAux:"{{producto.codigoProducto}}", nombrePAux:"{{producto.nombreProducto}}", precioPAux:"{{producto.precioProducto}}", descuentoPAux:"{{producto.descuentoProducto}}"};
                lista.push(productoAux);
            {% endfor %}
            {% for detalleVenta in listaDetalleVenta%}
                    $("#tableHeader").after("<tr><td><input type='number' class='codigoProductoVenta' style='width:80px' value='{{detalleVenta.producto.codigoProducto}}' readonly/></td><td class='nombreProductoVenta'>{{detalleVenta.producto.nombreProducto}}</td>"+
                    "<td><input type='number' class='cantidadProductoVenta' value={{detalleVenta.cantidadProducto}} min=1 style='width:80px'/></td><td class='precioProductoVenta' id='precioProductoVenta"+contProductosVenta+"'>"+ {{detalleVenta.cantidadProducto}} * {{detalleVenta.totalPorProducto}} +"</td><td><button type='button' id='eliminarFila'>eliminar</button></td></tr>");
                    contProductosVenta++;
                    $("#contProductosVenta").val(contProductosVenta);
            {% endfor %}
            total();
            $(".botonBuscar").click(function(){
                var i;
                var encontroProducto = false; //variable para determinar si encontro producto en la busqueda
                for(i=0;i<lista.length;i++){
                    var existeProducto = false;
                    if($("#productosVentaSearchBox").val().toLowerCase() == lista[i].nombrePAux.toLowerCase() || $("#productosVentaSearchBox").val() == lista[i].codigoPAux){
                        var j=0;
                        $('#tablaProductos').show();
                        $(".codigoProductoVenta").each(function(){
                            if($(this).val() == $("#productosVentaSearchBox").val() || $(".nombreProductoVenta").eq(j).text().toLowerCase() == lista[i].nombrePAux.toLowerCase()){
                                existeProducto = true;
                                encontroProducto = true;
                                var cantidadAux = parseInt($('.cantidadProductoVenta').eq(j).val()) + 1;
                                $('.cantidadProductoVenta').eq(j).val(cantidadAux);
                            }
                            j++;
                        });
                        if(!existeProducto){
                            $("#tableHeader").after("<tr><td><input type='number' class='codigoProductoVenta' style='width:80px' value='"+ lista[i].codigoPAux +"'readonly/></td><td class='nombreProductoVenta'>"+lista[i].nombrePAux+"</td>"+
                            "<td><input type='number' name='cantidadProductoVenta"+contProductosVenta+"' class='cantidadProductoVenta' value=1 min=1 style='width:80px'/></td><td class='precioProductoVenta'>"+lista[i].precioPAux +"</td><td><button type='button' id='eliminarFila'>eliminar</button></td></tr>");
                            contProductosVenta++;
                            $("#contProductosVenta").val(contProductosVenta);
                            encontroProducto = true; //como encontró producto se cambia su valor a true
                            $("#errorProductoNoExiste").hide();
                            $("#tablaProductos").show();
                            $("#tableHeader").show();
                            $("#mensajeError").hide();
                        }
                    
                    }
                    if(!encontroProducto && (i+1)==lista.length){
                        $("#errorProductoNoExiste").show();
                    }
                }

                $("#form").on("click",function() {
                    var j=0;
                    $('.codigoProductoVenta').each(function(){
                        var i;
                        for(i=0;i<lista.length;i++){
                            if($(this).val() == lista[i].codigoPAux){
                                var precio = parseInt(lista[i].precioPAux) * parseInt($('.cantidadProductoVenta').eq(j).val());
                                $('.precioProductoVenta').eq(j).text(precio);
                                total();
                            }
                        }
                        j++;
                    });
                });
                
                $("#descuentoAdicionalVenta").on("change keyup",function(){
                    var total = $("#subTotal").val() - ($(this).val() * $("#subTotal").val()) /100;
                    $("#totalVenta").val(total);
                });
                
                $("#eliminarFila").unbind().click(function(){
                    
                    if(contProductosVenta == 1){
                        $("#tableHeader").hide();
                        $(this).closest('tr').remove();
                        contProductosVenta--;
                    }
                    else{
                        $(this).closest('tr').remove();
                        contProductosVenta--;
                    }
                    total();
                    $("#contProductosVenta").val(contProductosVenta);
                });
                
            }); 
            
            $("#form").on("click",function() {
                var j=0;
                $('.codigoProductoVenta').each(function(){
                    var i;
                    for(i=0;i<lista.length;i++){
                        if($(this).val() == lista[i].codigoPAux){
                            var precio = parseInt(lista[i].precioPAux) * parseInt($('.cantidadProductoVenta').eq(j).val());
                            $('.precioProductoVenta').eq(j).text(precio);
                            total();
                        }
                    }
                    j++;
                });
                });

            $("#eliminarFila").unbind().click(function(){
                    
                    if(contProductosVenta == 1){
                        $("#tableHeader").hide();
                        $(this).closest('tr').remove();
                        contProductosVenta--;
                    }
                    else{
                        $(this).closest('tr').remove();
                        contProductosVenta--;
                    }
                    total();
                    $("#contProductosVenta").val(contProductosVenta);
                });
                
            $("#form").submit(function(e){
                if(contProductosVenta == 0){
                    e.preventDefault();
                    $("#mensajeError").show();
                }
                else{
                    var i=0;
                    $('.codigoProductoVenta').each(function(){
                        $(this).attr('name','codigoProductoVenta'+i);
                        $('.cantidadProductoVenta').eq(i).attr('name','cantidadProductoVenta'+i);
                        i++;
                    });
                }
            });    
        });
    </script>
</head>
<body>
    <div class="container">
        <h3>Modificar Venta N°{{venta.folioVenta}}:</h3>
        <label for="mensajeError" id="mensajeError">Debe agregar al menos un producto a la venta</label>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'MundoFastWebApp:modificarVenta' venta.id%}" method="post" id="form">
            {% csrf_token %}
            <label for="folioVenta"><b>Folio Venta:</b></label>
            <input type="number" name="folioVenta" id="folioVenta" value="{{venta.folioVenta}}"readonly required><br>
            
            <label for="productosVenta"><b>Productos:</b></label>
            <input type="text" name="productosVentaSearchBox" id="productosVentaSearchBox">
            <button type="button" class="botonBuscar">Agregar Producto</button>
            <label for="errorProductoNoExiste" id="errorProductoNoExiste">Ese producto no existe</label><br>
            <table id="tablaProductos" style="width:50%">
                <tr id="tableHeader">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </table>
            
            <label for="cuotasVenta"><b>Cuotas Venta:</b></label>
            <select name="cuotasVenta" id="cuotasVenta">
                <option value="1">1 Cuota</option>
                <option value="2">2 Cuotas</option>
                <option value="3">3 Cuotas</option>          
            </select><br>
            <label for="subTotal"><b>Sub Total:</b></label>
            <input type="number" name="subTotal" id="subTotal" min=1 readonly required><br>
            <label for="descuentoAdicionalVenta"><b>Descuento Venta:</b></label>
            <input type="number" name="descuentoAdicionalVenta" id="descuentoAdicionalVenta" value=0 min=0 max=100 required><br>
            <label for="totalVenta"><b>Total Venta:</b></label>
            <input type="number" name="totalVenta" id="totalVenta" min=1 readonly required><br>
            <label for="estadoVenta"><b>Estado Venta:</b></label>
            <select name="estadoVenta" id="estadoVenta">
                <option value="En Proceso">En Proceso</option>
                <option value="Finalizada">Finalizada</option>         
            </select><br>
            <label for="responsableVenta"><b>Responsable Venta:</b></label>
            <select name="responsableVenta" id="responsableVenta">
                {% for usuario in listaUsuario %}
                <option value="{{ usuario.emailUsuario }}">{{usuario.emailUsuario}}</option>       
                {% endfor %}
            </select><br>
            <input type="text" id="contProductosVenta" name="contProductosVenta"/>
            <input type="submit" class="btn btn-success" value="Modificar Venta">
            <button type="button" id="submitButton" class="btn btn-danger" onclick="location.href='{% url 'MundoFastWebApp:ventas' %}'">Cancelar</button>
        </form>
    </div>
</body>