<head>
    <title>MundoFastSPA - Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}"><b>Mundo Fast SPA</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h3>Lista de Ventas:</h3>
        <br>
        <form action="{% url 'MundoFastWebApp:buscarVenta' %}" method="post">
            <button type="button" class="btn btn-success" onclick="location.href='{% url 'MundoFastWebApp:formVenta' %}'">
                <i class="fa fa-user"></i>Nueva Venta
            </button>
            {% csrf_token %}
            <label for="buscarVenta"></label>
            <input type="number" name="buscarVenta" id="buscarVenta">
            <input type="submit" value="Buscar Venta">
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Fecha</th>
                    <th>Subtotal</th>
                    <th>Descuento</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% if listaVenta %}
                    {% for venta in listaVenta %}
                        <tr>
                            <td>
                                <a href="">{{ venta.folioVenta }}</a>
                            </td>
                            <td>
                                <label>{{ venta.fechaVenta }}</label>
                            </td>
                            <td>
                                <label>{{ venta.subTotal }}</label>
                            </td>
                            <td>
                                <label>{{ venta.descuendoAdicionalVenta }}</label>
                            </td>
                            <td>
                                <label>{{ venta.totalVenta }}</label>
                            </td>
                            <td>
                                <label>{{ venta.estadoVenta }}</label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="location.href=''">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="location.href=''">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="location.href=''">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %} {% else %}
                    <td>
                        {% if 'buscar' in request.path %} No existen ventas almacenados con ese numero de folio. {% else %} No existen ventas almacenados. {% endif %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tbody>
        </table>
        <form action="{% url 'MundoFastWebApp:ofertaproducto' %}" method="post">
            {% csrf_token %}
            {% if 'buscar' in request.path %}
                <button type="button" class="btn btn-danger" onclick="location.href='{% url 'MundoFastWebApp:ventas' %}'">
                    Volver a la lista
                </button>
            {% else %}
                <button type="button" class="btn btn-danger" onclick="location.href='{% url 'MundoFastWebApp:index' %}'">
                    Volver
                </button>           
            {% endif %}
        </form>
    </div>
</body>