<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA - Ventas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            {% load static %}
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="My image" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Administración</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:ventas' %}"><b>Ventas</b></a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:reportes' %}">Reportes</a>
                        <a class="dropdown-item" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                    </div>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h3>Lista de Ventas:</h3>
        <br>
        <form action="{% url 'MundoFastWebApp:buscarVenta' %}" class="form-inline" method="post">
            <button type="button" class="btn btn-success" onclick="location.href='{% url 'MundoFastWebApp:formVenta' %}'">
                <i class="fa fa-usd"></i>  Nueva Venta
            </button>
            {% csrf_token %}
            <label for="buscarVenta"></label>
            &nbsp;
            <input type="number" class="form-control" name="buscarVenta" id="buscarVenta" placeholder="N° de Folio">
            <input type="submit" class="btn btn-outline-secondary" value="Buscar Venta">
        </form>
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Fecha</th>
                    <th style="text-align: center;">Subtotal</th>
                    <th style="text-align: center;">Descuento (%)</th>
                    <th style="text-align: center;">Total</th>
                    <th style="text-align: center;">Estado</th>
                    <th style="text-align: center;">Ver</th>
                    <th style="text-align: center;">Modificar</th>
                    <th style="text-align: center;">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% if listaVenta %}
                    {% for venta in listaVenta %}
                        <tr>
                            <td>
                                <a href="/MundoFastWebApp/ventas/{{ venta.id }}/">{{ venta.folioVenta }}</a>
                            </td>
                            <td>
                                <label>{{ venta.fechaVenta }}</label>
                            </td>
                            <td style="text-align: center;">
                                <label>{{ venta.subTotal }}</label>
                            </td>
                            <td style="text-align: center;">
                                <label>{{ venta.descuendoAdicionalVenta }}</label>
                            </td>
                            <td style="text-align: center;">
                                <label>{{ venta.totalVenta }}</label>
                            </td>
                            <td style="text-align: center;">
                                <label>{% if venta.estadoVenta == "Finalizada" %}
                                    <font color="green">{{ venta.estadoVenta }}</font>
                                    {% else %}
                                    <font color="red">{{ venta.estadoVenta }}</font>
                                    </b>
                                    {% endif %}
                                </label>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-success" onclick="location.href='/MundoFastWebApp/ventas/{{ venta.id }}/'">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-primary" onclick="location.href='/MundoFastWebApp/ventas/modificar/{{ venta.id }}/'">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-danger" onclick="location.href='/MundoFastWebApp/ventas/eliminar/{{ venta.id }}/'">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %} {% else %}
                    <td>
                        {% if 'buscar' in request.path %} No existen ventas almacenadas con ese número de folio. {% else %} No existen ventas almacenados. {% endif %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tbody>
        </table>
        <form action="{% url 'MundoFastWebApp:ofertaproducto' %}" method="post">
            {% csrf_token %}
            {% if 'buscar' in request.path %}
                <button type="button" class="btn btn-warning" onclick="location.href='{% url 'MundoFastWebApp:ventas' %}'">
                    Volver a la Lista
                </button>          
            {% endif %}
        </form>
        <br>
        <br>
    </div>
</body>
</html>