<!DOCTYPE HTML>
<html>
<head>
    <title>MundoFastSPA - Ver Venta {{ venta.folioVenta }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/MundoFastWebApp/favicon.ico' %}">    
</head>

<body>
    <nav class="navbar navbar-expand-sm sticky-top bg-light navbar-light">
        <a class="navbar-brand" href="{% url 'MundoFastWebApp:index' %}">
            <img class="img-responsive" width="200px" height="" src="{% static '/MundoFastWebApp/logoMF.png' %}" alt="Mundo Fast SPA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:index' %}">Inicio</a>
                </li>
                <form class="mx-2 my-auto d-inline w-100" action="{% url 'MundoFastWebApp:verCatalogo' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="sbNombreProducto" placeholder="Ingrese un producto">
                        &nbsp;
                        <span class="input-group-append">
                            <select class="form-control" name="categoriaProducto" id="categoriaProducto">
                                <option value="Todas las categorías">Todas las categorías</option>
                            {% for choice,readablechoice in productoX.opcionesCategoria %}
                                <option value="{{ choice }}">{{ readablechoice }}</option>       
                            {% endfor %}
                            </select>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </span>
                    </div>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verOfertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:contactoEmpresa' %}">Contacto</a>
                </li>
                {% block content %} {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:usuarios' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:productos' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'MundoFastWebApp:ventas' %}">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:reportes' %}">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MundoFastWebApp:verPerfilEmpresa' %}">Empresa</a>
                </li>
                {% endif %} {% endblock %}
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.emailUsuario }}
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/MundoFastWebApp/usuarios/{{ user.id }}/">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        <h3>Detalles de la Venta:</h3>
        <br>
        <div class="row">
            <div class="col-sm">
                <b>Folio:</b> {{ venta.folioVenta }}
            </div>
            <div class="col-sm text-right">
                <b>Fecha:</b> {{ venta.fechaVenta }}    
            </div>
        </div>
        <br>
        <b>Productos:</b>
        <br>
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th style="text-align: center;">Cantidad</th>
                    <th style="text-align: center;">Precio Unitario</th>
                    <th style="text-align: center;">Descuento (%)</th>
                    <th style="text-align: center;">Total</th>
                </tr>
            </thead>
                <tbody>
                    {% for x in listaDetalleVenta%}
                        <tr>
                            <td>{{ x.producto.codigoProducto }}</td>
                            <td><a href="/MundoFastWebApp/productos/{{ x.producto.id }}/">{{ x.producto.nombreProducto }}</a></td>
                            <td style="text-align: center;">{{ x.cantidadProducto }}</td>
                            <td style="text-align: center;">{{ x.totalPorProducto }}</td>
                            <td style="text-align: center;">{{ x.descuentoAplicadoProducto }}</td>
                            <td style="text-align: center;">{{ x.totalProducto }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        <div class="row">
            <div class="col">
                <b>Cuotas:</b> {{ venta.cuotasVenta }}
            </div>
            <div class="col text-right">
                <b>Responsable:</b> {{ venta.responsableVenta }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>Sub Total: </b>$ {{ venta.subTotal }}
            </div>
            <div class="col text-right">
                <b>Estado: 
                {% if venta.estadoVenta == "Finalizada" %}
                <font color="green">{{ venta.estadoVenta }}</font>
                {% else %}
                <font color="red">{{ venta.estadoVenta }}</font>
                </b>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>Descuento:</b> {{ venta.descuentoAdicionalVenta }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <font size="5px"><b>Total: $ {{ venta.totalVenta }} </b></font>
            </div>
        </div>
        <br> 
        <br>
        <button type="button" class="btn btn-warning" onclick="location.href='javascript:history.go(-1)'">Volver</button>
    </div>
</body>
</html>